<li id="question-<%= question.id %>">
  <div class="row row-question">
    <%= question.contenuto %>
  </div>
    <div class="row">
      <% if @answers.any? %>
        <% ans = @answers.find_by_question_id(question.id) %>
        <% if !ans.nil? %>
          <%= ans.contenuto %>
        <% else %>
          <div class="row">
            <% if user_signed_in? && current_user.id == @announcement.user_id %>
              <%= form_for @answer, url: answers_path do |f| %>
                <%= hidden_field_tag 'announcement_id', @announcement.id %>
                <%= hidden_field_tag 'user_id', current_user.id %>
                <%= hidden_field_tag 'question_id', question.id %>
                <div class="field">
                  <%= f.label "Dai una risposta:" %><br/>
                  <%= f.text_area :contenuto, autofocus: true, autocomplete: "contenuto", class: "form-control form-control-sm" %>
                <div/>
                <div class="actions">
                  <%= f.submit "Rispondi", class: "btn btn-form" %>
                </div>
              <% end %>
            <% else %>
              Accedi per rispondere ad una domanda.
            <% end %>
        </div>
      <% end %>
    <% else %>
      Nessuna risposta.
    <% end %>
  </div>
</li>