<div class="row-question">
  Domanda: <%= question.contenuto %>
</div>
<br>
<% ans = @answers.find_by_question_id(question.id) %>
<% if !ans.nil? %>
  <div class="row-answer">
    Risposta: <%= ans.contenuto %>
    <% if user_signed_in? && current_user.id == @announcement.user_id %>
    <%= link_to "Elimina", answer_path(ans.id), method: :delete,
                                            data: { confirm: "Vuoi davvero eliminare la risposta?" } %>
                                            <% end %>
  </div>
<% elsif user_signed_in? && current_user.id == @announcement.user_id %>
  <div class="row-answer">
    <%= form_for @answer, url: answers_path do |f| %>
      <%= hidden_field_tag 'announcement_id', @announcement.id %>
      <%= hidden_field_tag 'user_id', current_user.id %>
      <%= hidden_field_tag 'question_id', question.id %>
      <%= f.label "Dai una risposta:" %><br/>
      <%= f.text_area :contenuto, autofocus: true, autocomplete: "contenuto", class: "form-control form-control-sm" %>
      <div class="center">
        <%= f.submit "Rispondi", class: "btn btn-form" %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="row-answer">
    Nessuna risposta.
  </div>
<% end %>
<% if user_signed_in? && current_user.id == question.user_id %>
<%= link_to "Elimina", question_path(question.id), method: :delete,
                                            data: { confirm: "Vuoi davvero eliminare la domanda?" } %>
<% end %>
      
          
