<li id="announcement-<%= announcement.id %>">
  <span class="content"><%= announcement.titolo %></span><br>
  <span class="content"><%= announcement.categoria %></span><br>
  <span class="content"><%= announcement.descrizione %></span><br>
  <span class="timestamp"> Posted <%= time_ago_in_words(announcement.created_at) %> ago.
  </span>
</li>