<li id="announcement-<%= announcement.id %>">
  <div class="row row-index align-items-center">
    <div class="col-7 justify-content-center">
      <% if announcement.immagine_1? %>
        <%= image_tag announcement.immagine_1.url, class: "img-index" %>
      <% else %>
        <%= image_tag 'immagine-non-disponibile.png', class: "img-index" %>
      <% end %>
    </div>
    <div class="col-5">
      <h3>
          <%= link_to announcement.titolo, announcement_path(announcement.id), data: { turbolinks: false } %>
      </h3>
      <span class="content">
        <%= announcement.categoria %><br>
        <%= announcement.descrizione %><br>
        <%= announcement.prezzo %> €<br>
      </span>
      <span class="timestamp"> Pubblicato
        <%= time_ago_in_words(announcement.created_at)%> fa.
      </span>
      <% if user_signed_in? %>
        <% if current_user?(announcement.user) %>
          <% announcement %>
          <%= link_to "Elimina", user_announcement_path(current_user.id, announcement.id), method: :delete,
                                            data: { confirm: "Vuoi davvero eliminare l'annuncio?" } %>
          <%= link_to "Modifica", edit_user_announcement_path(current_user.id, announcement.id), method: :get %>
          <%= link_to "Aggiungi ai preferiti", announcement_favorite_path(announcement.id), method: :post %>
        <% end %>
        <% if current_user.admin? %>
          <%= link_to "Elimina", user_announcement_path(announcement.user_id, announcement.id), method: :delete,
                                            data: { confirm: "Vuoi davvero eliminare l'annuncio?" } %>
          <%= link_to "Modifica", edit_user_announcement_path(announcement.user_id, announcement.id), method: :get %>
        <% end %>
      <% end %>
    </div>
  </div>
</li>