<li id="announcement-<%= announcement.id %>">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag announcement.immagine_1.url if announcement.immagine_1? %>
    </div>
    <div class="col-md-6">
      <h3>
          <%= link_to announcement.titolo, announcement_path(announcement.id) %>
      </h3>
      <span class="content">
        <%= announcement.categoria %><br>
        <%= announcement.descrizione %><br>
      </span>
      <span class="timestamp"> Posted
        <%= time_ago_in_words(announcement.created_at) %> ago.</span>
      <% if current_user?(announcement.user) %>
      <% announcement %>
      <%= link_to "Elimina", user_announcement_path(current_user.id, announcement.id), method: :delete,
                                        data: { confirm: "Vuoi davvero eliminare l'annuncio?" } %>
      <%= link_to "Modifica", edit_user_announcement_path(current_user.id, announcement.id), method: :get %>
      <% end %>
    </div>
  </div>
</li>