<li id="announcement-<%= announcement.id %>">
  <div class="row row-index align-items-center">
    <div class="col-7 center">
      <% if announcement.immagine_1? %>
        <%= image_tag announcement.immagine_1.url, class: "img-index" %>
      <% else %>
        <%= image_tag 'immagine-non-disponibile.png', class: "img-index" %>
      <% end %>
    </div>
    <div class="col-5">
      <h4>
          <%= link_to announcement.titolo, announcement_path(announcement.id), data: { turbolinks: false } %><br><br>
      </h4>
      <span class="content">
        Categoria: <%= announcement.categoria %><br><br>
        <% if announcement.descrizione.length > 350 %>
          <p style="text-align: justify">
            <%= announcement.descrizione[0,350] %>...<br>
          </p>
        <% else %>
          <%= announcement.descrizione %><br>
        <% end %>
        <span class="timestamp"> 
        Pubblicato
        <%= time_ago_in_words(announcement.created_at)%> fa.
      </span>
        </br>
        <p style="text-align: right">
          Prezzo: <%= number_with_precision(announcement.prezzo, precision: 2) %> €
        </p>
      </span>
      <% if user_signed_in? %>
        <% if current_user?(announcement.user) %>
          <% announcement %>
          <%= link_to "Elimina", user_announcement_path(current_user.id, announcement.id), method: :delete,
                                            data: { confirm: "Vuoi davvero eliminare l'annuncio?" } %>
          <%= link_to "Modifica", edit_user_announcement_path(current_user.id, announcement.id), method: :get %>
        <% else %>
          <% if current_user.favorited?(announcement) %>
            <%= link_to "Elimina dai preferiti", announcement_favorite_path(announcement.id), method: :delete %>
          <% else %>
            <%= link_to "Aggiungi ai preferiti", announcement_favorite_path(announcement.id), method: :post %>
          <% end %>
        <% end %>
        <% if current_user.admin? %>
          <%= link_to "Elimina", user_announcement_path(announcement.user_id, announcement.id), method: :delete,
                                            data: { confirm: "Vuoi davvero eliminare l'annuncio?" } %>
          <%= link_to "Modifica", edit_user_announcement_path(announcement.user_id, announcement.id), method: :get %>
        <% end %>
      <% end %>
    </div>
  </div>
</li>