<h2>Edit
  <%= @annoucement.to_s.humanize %>
</h2>

<%= form_for @announcement, url: user_announcement_path(current_user.id), html: { method: :put } do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="field">
  <%= f.label :titolo %><br />
  <%= f.text_field :titolo, autofocus: true, autocomplete: "titolo", class: "form-control form-control-sm"%>
</div>

<div class="field">
  <%= f.label :categoria %><br />
  <%= f.select :categoria, ["Arredamento", "Abbigliamento", "Elettronica", "Motori e accessori", "Sport",
                            "Hobby", "Attrezzature", "Elettrodomestici", "Giocattoli", "Videogiochi e console"], {}, { class: "custom-select custom-select-sm" } %>
</div>

<div class="field">
  <%= f.label :descrizione %><br />
  <%= f.text_area :descrizione, autofocus: true, autocomplete: "descrizione", class: "form-control form-control-sm" %>
</div>

<span class="picture">
 <div class="row">
    <div class="col-6 col-md-4">
      <%= f.label :immagine_1 %><br />
      <%= f.file_field :immagine_1 %>
    </div>
    <div class="col-6 col-md-4">
      <%= f.label :immagine_2 %><br />
      <%= f.file_field :immagine_2 %>
    </div>
    <div class="col-6 col-md-4">
      <%= f.label :immagine_3 %><br />
      <%= f.file_field :immagine_3 %>
    </div>
    <div class="col-6 col-md-4">
      <%= f.label :immagine_4 %><br />
      <%= f.file_field :immagine_4 %>
    </div>
    <div class="col-6 col-md-4">
      <%= f.label :immagine_5 %><br />
      <%= f.file_field :immagine_5 %>
    </div>
  </div>
</span>

<div class="field">
  <%= f.label :posizione %><br />
  <%= f.text_field :posizione, autofocus: true, autocomplete: "posizione", class: "form-control form-control-sm" %>
</div>

<div class="field">
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-sm" %>
</div>

<div class="field">
  <%= f.label :telefono %><br />
  <%= f.text_field :telefono, autofocus: true, autocomplete: "telefono", class: "form-control form-control-sm" %>
</div>

<div class="field">
  <%= f.label :prezzo %><br />
  <%= f.number_field :prezzo, step: :any, autofocus: true, autocomplete: "prezzo", class: "form-control form-control-sm" %>
</div>

<div class="actions">
  <%= f.submit "Aggiorna", class: "btn btn-form" %>
</div>
<% end %>

<%= link_to "Indietro", :back, class: "btn btn-form" %>