<% provide(:title, 'Annunci') %>
<div class="row">
    <h1> Annunci </h1>
</div>
<div class="row justify-content-center">
    <div class="col-3", id="filtri-index" >
        </br><h4>Filtra per:</h4></br>
        <%= form_tag announcements_filter_path, method: :get, class: "form-group" do %>
            Prezzo:
            <%= select_tag :prezzo, options_for_select(["Crescente", "Decrescente"]), include_blank: "Seleziona un ordine", class: "form-control" %>
            Regione:
            <%= select_tag :regione, options_for_select(["Abruzzo", "Basilicata", "Calabria", "Campania", "Emilia Romagna",
                                "Friuli Venezia Giulia", "Lazio", "Liguria", "Lombardia", "Marche",
                                "Molise", "Piemonte", "Puglia", "Sardegna", "Sicilia", "Toscana",
                                "Trentino Alto Adige", "Umbria", "Valla d'Aosta", "Veneto"]),
                                class: "form-control", include_blank: "Seleziona una regione" %>
            Categoria:
            <%= select_tag :categoria, options_for_select(["Arredamento", "Abbigliamento", "Elettronica", "Motori e accessori", "Sport",
                            "Hobby", "Attrezzature", "Elettrodomestici", "Giocattoli", "Videogiochi e console"]),
                                class: "form-control", include_blank: "Seleziona una categoria" %>
            Nelle vicinanze di:
            <%= text_field_tag :place, params[:place], class: "form-control", placeholder: "Inserisci un indirizzo", id: "autocomplete_address" %>
            <div class="slidecontainer">
                <%= range_field_tag "distance_range", 50, min: 1, max: 100, class: "slider filter-width", id: "myRange" %>
                    <p>Distanza: <span id="demo"></span> km</p>
            </div>
            <%= submit_tag "Applica filtri", class: "btn btn-form filter-width" %>
        <% end %>
    </div>
    <div class="col">
        <% if @announcements.any? %>
            <h3>Annunci trovati:
                <%= @announcements.count %>
            </h3>
            <%= will_paginate @announcements%>
            <ol class="announcements">
                <%= render @announcements %>
            </ol>
            <%= will_paginate @announcements%>
        <% else %>
            <h3>Annunci trovati: </h3>
        <% end %>
    </div>       
</div>