<% provide :head_tags do %>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      <%= coordinates = get_coordinates(@announcement.posizione) %>;
      initMap(<%=coordinates[0]%>, <%=coordinates[1]%>);
    });
  </script>
<% end %>

<div class="container" id="show">
  
  <h1 class="my-4">
    <%= @announcement.titolo %>
  </h1>
  <div class="row justify-content-around align-items-center">
    <div class="col-5">
      <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <% if !@announcement.immagine_1? && !@announcement.immagine_2? && !@announcement.immagine_3? &&
          !@announcement.immagine_4? && !@announcement.immagine_5? %>
            <div class="carousel-item active">
            <%= image_tag 'immagine-non-disponibile.png', class:"d-block w-100", alt:"immagine non disponibile"%>
          </div>
          <% end %>
          <% if @announcement.immagine_1? %>
          <div class="carousel-item active">
            <%= image_tag @announcement.immagine_1.url, class:"d-block w-100", alt:"immagine_1" if @announcement.immagine_1? %>
          </div>
          <% end %>
          <% if @announcement.immagine_2? %>
          <div class="carousel-item">
            <%= image_tag @announcement.immagine_2.url, class:"d-block w-100", alt:"immagine_2" if @announcement.immagine_2? %>
          </div>
          <% end %>
          <% if @announcement.immagine_3? %>
          <div class="carousel-item">
            <%= image_tag @announcement.immagine_3.url, class:"d-block w-100", alt:"immagine_3" if @announcement.immagine_3? %>
          </div>
          <% end %>
          <% if @announcement.immagine_4? %>
          <div class="carousel-item">
            <%= image_tag @announcement.immagine_4.url, class:"d-block w-100", alt:"immagine_4" if @announcement.immagine_4? %>
          </div>
          <% end %>
          <% if @announcement.immagine_5? %>
          <div class="carousel-item">
            <%= image_tag @announcement.immagine_5.url, class:"d-block w-100", alt:"immagine_5" if @announcement.immagine_5? %>
          </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-6">
      <h3 class="my-3">Descrizione prodotto</h3></br>
      <p style="text-align: justify">
        <%= @announcement.descrizione %></br></br>
      </p>
      <h3 class="my-3">Dettagli prodotto</h3>
      <ul>
        <li>Categoria:
          <%= @announcement.categoria %>
        </li>
        <li>
          Pubblicato: <%= time_ago_in_words(@announcement.created_at)%> fa
        </li>
        <li>
          Proprietario: <%= @announcement.user.username %>
        </li>
      </ul>
      </br></br>
      <div class="row align-items-center justify-content-around">
        <div class="col-4">
          <%= social_share_button_tag(@announcement.titolo, url: request.original_url, desc: @announcement.descrizione) %>
        </div>
        <div class="col">
          Segnala: <%= button_tag image_tag('report.png'), type: "button", data: { toggle: "modal", target: "#reportModal" }, id: "report-icon"%>
      <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Segnala annuncio</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= form_for @contact do |f| %>
                <% if flash[:error].present? %>
                  <p> flash[:error]</p>
                <% end %>
                <%= hidden_field_tag "announcement_id", @announcement.id %>

                <%= f.label :nome , "Nome" %> <br>
                <%= f.text_field :nome, required: true, placeholder: " Inserisci il tuo nome" %>

                <br>
                <%= f.label :email, "Email"%> <br>
                <%= f.text_field :email, required: true, placeholder: " Inserisci la tua email" %>

                <br>
                <%= f.label :messaggio, "Messaggio" %> <br>
                <%= f.text_area :messaggio, as: :text, placeholder: " Motiva la tua segnalazione..." %>
                
                <div class="row justify-content-around", id="reportRow">
                  <%= f.submit 'Invia segnalazione', class: "btn btn-form" %>
                </div>
              <% end %>
            </div>
            <div class="modal-footer justify-content-around">
              <button type="button" class="btn btn-form" data-dismiss="modal">Chiudi</button>
            </div>
          </div>
        </div>
      </div>
        </div>
        <div class="col">
          <h3 style="text-align: right">
            Prezzo: <%= number_with_precision(@announcement.prezzo, precision: 2) %>€</h3>
        </div>
      </div>
      <div class="row">
    <% if user_signed_in? %>
      <div class="col center">
        <button type="button" class="btn btn-form" data-toggle="modal" data-target="#exampleModal">
          Mostra contatti
        </button>
      </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Contatti</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Email: <%= @announcement.email %> </br>
              Telefono: <%= @announcement.telefono %></br>
              Posizione: <%= @announcement.posizione %>
            </div>
            <div class="modal-footer justify-content-around">
              <button type="button" class="btn btn-form" data-dismiss="modal">Chiudi</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col center">
        <button type="button" class="btn btn-form" data-toggle="modal" data-target="#modelMap">
          Mostra mappa
        </button>
      </div>
      <div class="modal fade" id="modelMap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Posizione</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="map">
            </div>
            <div class="modal-footer justify-content-around">
              <button type="button" class="btn btn-form" data-dismiss="modal">Chiudi</button>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      Accedi per visualizzare i contatti e la posizione.
    <% end %>
    <br><br>
  </div>
    </div>
  </div>
  <!-- /.row -->
  
  <h2>Domande e Risposte</h2>
  <div class="row justify-content-center align-items-center">
    <div class="col">
      <% if @questions.any?%>
        <%= render @questions %>
      <% else %>
        Nessuna domanda trovata per questo annuncio. Fanne una tu!
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <% if user_signed_in? %>
        <% if current_user.id != @announcement.user_id || current_user.admin? %>
          <%= form_for @question, url: questions_path do |f| %>
            <%= hidden_field_tag 'announcement_id', @announcement.id %>
            <%= hidden_field_tag 'user_id', current_user.id %>
              <%= f.label "Fai una domanda:" %><br/>
              <%= f.text_area :contenuto, autocomplete: "contenuto", class: "form-control form-control-sm" %>
              <div class="center">
                <%= f.submit "Crea domanda", class: "btn btn-form" %>
              </div>     
          <% end %>
        <% end %>
      <% else %>
        Accedi per fare una domanda.
      <% end %>
    </div>
  </div>
</div>
<!-- /.container -->
