<% provide(:title, 'Registrazione') %>

<h1>Registrazione</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages' %>
            
            <%= f.label :username %>
            <%= f.text_field :username, class: 'form-control' %>

            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :password_confirmation, "Conferma password" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>

            <%= f.label :comune %>
            <%= f.text_field :comune, class: 'form-control' %>

            <%= f.label :data_nascita, "Data di nascita" %>
            <%= f.text_field :data_nascita, class: 'form-control', id:"flatpickr-input" %>

            <%= f.submit "Crea account", class: "btn btn-primary" %>
        <% end %>
    </div>
    
</div>
<script type="text/javascript">
  $(document).ready(function(){
    flatpickr('#flatpickr-input', { locale: {firstDayOfWeek: 1}});
  });
</script>
