<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Vieni, Vedi, Compra!", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <div class="btn-group">
            <%= link_to new_user_announcement_path(current_user.id), class:"btn", id:"new-button", method:"get" do %>
              <%= image_tag('add-icon.png') %>
              Crea annuncio
            <% end %>
            <button type="button" class="btn btn-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if user_signed_in_with_provider? %>
                <%= image_tag(current_user.image, alt: current_user.username, class: "profile-header-pic") %> <%= current_user.username %>
              <% else %>
                <%= gravatar_for current_user , {size:30} %><%= current_user.username %>
              <% end %>
            </button>
            <div class="dropdown-menu">
              <li><%= link_to "Profilo", current_user %></li>
              <li><%= link_to "Modifica profilo", edit_user_registration_path %></li>
              <li><%= link_to "I miei annunci", user_miei_annunci_path(current_user.id) %></li>
              <li class="divider"></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </div>
          </div>
        <% else %>
          <%= link_to 'Login', new_user_session_path, :class => "btn btn-header " %>
          <%= link_to 'Registrati', new_user_registration_path, :class => "btn btn-header " %>          
        <% end %>        
      </ul>
    </nav>
  </div>
</header>