<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <%= link_to "Vieni Vedi Compra!", root_path,  class: 'navbar-brand mr-0 mr-md-2"', id:'logo', data: { turbolinks: false }%>
    <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
        <div class="btn-group" role="group">
            <%= link_to new_user_announcement_path(current_user.id), class:"btn btn-outline-light", method:"get" do %>
            <%= image_tag 'add-icon.png', height:"25", width:"25" %>
            Crea annuncio
            <% end %>
            <div class="btn-group" role="group">
                <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    data-display="static" aria-haspopup="true" aria-expanded="false">
                    <% if user_signed_in_with_provider? %>
                    <%= image_tag(current_user.image, alt: current_user.username, class: "profile-header-pic") %>
                    <%= current_user.username %>
                    <% else %>
                    <%= gravatar_for current_user, {size:25} %>
                    <%= current_user.username %>
                    <% end %>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <%= link_to "Profilo", current_user, class:"dropdown-item"%>
                    <%= link_to "Modifica profilo", edit_user_registration_path, class:"dropdown-item" %>
                    <%= link_to "I miei annunci", user_miei_annunci_path(current_user.id), class:"dropdown-item" %>
                    <%= link_to "Preferiti", user_preferiti_path(current_user.id), class:"dropdown-item" %>
                    <% if current_user.admin? %>
                        <%= link_to "Tutti gli utenti", users_path, class:"dropdown-item"%>
                        <%= link_to "Tutti gli annunci", announcements_path, class:"dropdown-item"%>
                    <% end %>
                    <div class="dropdown-divider"></div>
                    <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
                </div>
            </div>
            <% else %>
            <div class="btn-group" role="group">
                <%= link_to 'Login', new_user_session_path, class:"btn btn-outline-light" %>
                <%= link_to 'Registrati', new_user_registration_path, class:"btn btn-outline-light" %>
            </div>
    </ul>
    <% end %>
</header>